.grid-post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  .card-post {
    min-height: 180px;

    .mat-card-title {
      text-transform: capitalize;
      line-height: 2rem;
    }
  }
}

.grid-album {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;

  .card-album {
    .mat-card-title {
      text-transform: capitalize;
      line-height: 2rem;
    }
  }
}

.grid-todo {
  display: grid;
  grid-gap: 20px;

  .card-todo {
    .status {
      padding: 2px 5px;
      position: absolute;
      right: 20px;
      background-color: #fff;
      border-radius: 4px;

      &.true {
        border: 2px solid green;
        color: green;
      }

      &.false {
        border: 2px solid red;
        color: red;
      }
    }

    .mat-card-title {
      text-transform: capitalize;
      line-height: 2rem;
    }
  }
}
